<%= form_for(
      @ingredient,
      {
        url: @ingredient.new_record? ? receipe_ingredients_path(@receipe) : receipe_ingredient_path(@receipe, @ingredient),
        html: {class: 'form-inline'}
      }) do |f| %>

  <%= render partial: 'shared/form_errors', locals: {model: @ingredient} %>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, {class: 'form-control', placeholder: 'z.B. 200g'} %>
  </div>

  <div class="form-group">
    <%= f.label :product_id %>
    <%= f.select :product_id, Product.all.order(:name).collect {|product| [product.name, product.id]}, {}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.submit({class: 'btn btn-primary'}) %>
  </div>
<% end %>
