
<div class="calendar">
  <h2 class="calendar__headline"><%= "#{@day.month.month_i} / #{@day.month.year_i}" %></h2>

  <div class="calendar__header">
    <% (0..6).each do |weekday| %>
      <div class="calendar__weekday">
          <%= %w{Mo Di Mi Do Fr Sa So}[weekday] %>
      </div>
    <% end %>
  </div>

  <div class="calendar__week">
    <% @day.weekdays.each do |day| %>
        <div class="calendar__day <%= (day.date == @today_date) ? 'calendar__day--today' : '' %>">
          <div class="calendar__day__text">
            <%= day.date.strftime('%e.%m.') %>
          </div>

          <% meals = Meal.where(day: day.date) %>
          <% meals.find_each do |meal| %>
            <div class="calendar__day__meal">
              <a href="<%= receipe_url(meal.receipe) %>" class="calendar__day__meal__link">
                <%= meal.receipe.title %>
              </a>
              <div class="clearfix calendar__day__meal__actions">
                <div class="pull-right">
                  <%= link_to 'Delete', meal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link btn-xs' %>
                </div>
                <div class="pull-right">
                  <%= link_to 'Edit', edit_meal_path(meal), class: 'btn btn-link btn-xs' %>
                </div>
              </div>
            </div>
          <% end %>
          <div>
            <%= link_to('Mahlzeit hinzufügen', new_meal_path({day: day.date}), {class: 'btn btn-link btn-sm'}) %>
          </div>
        </div>
    <% end %>
  </div>
</div>


<div class="clearfix">
  <div class="pull-left">
    <%= link_to('vorherige Woche', root_path({day: @day.date - 7}), {class: 'btn btn-primary'}) %>
  </div>
  <div class="pull-right">
    <%= link_to('nächste Woche', root_path({day: @day.date + 7}), {class: 'btn btn-primary'}) %>
  </div>
</div>