<h1>
  Meals
  <small>
    <%= @filter.day_from.strftime('%d.%m.') %> - <%= @filter.day_to.strftime('%d.%m.') %>
  </small>
</h1>

<div class="well">
<%= form_for(@filter, {url: meals_url, method: :get}) do |f| %>
    <div class="form-group form-group--date">
      <%= f.label :day_from %>
      <%= f.date_select :day_from, {}, {class: 'form-control'} %>
    </div>
    <div class="form-group form-group--date">
      <%= f.label :day_to %>
      <%= f.date_select :day_to, {}, {class: 'form-control'} %>
    </div>
    <div class="form-group clearfix">
      <%= f.submit('Filter', {class: 'btn btn-primary pull-right'}) %>
    </div>
<% end %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Receipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.day %></td>
        <td><%= meal.receipe.title %></td>
        <td class="action"><%= link_to 'Edit', edit_meal_path(meal), class: 'btn btn-default btn-xs' %></td>
        <td class="action"><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Meal', new_meal_path, {class: 'btn btn-primary btn-lg'} %>
