<%= form_for(receipe) do |f| %>

  <%= render partial: 'shared/form_errors', locals: {model: receipe} %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, {class: 'form-control', placeholder: 'Neues Rezept'} %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, {class: 'form-control', rows: 10, placeholder: 'Schritte für die Zubereitung'} %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, {class: 'form-control', placeholder: 'http://www.chefkoch.de'} %>
  </div>

  <div class="form-group">
    <%= f.label :persons %>
    <%= f.number_field :persons, {class: 'form-control', placeholder: 'Anzahl der Personen'} %>
  </div>

  <div class="form-group">
    <%= f.submit({class: 'btn btn-primary'}) %>
  </div>
<% end %>
