<h1><%= @receipe.title %></h1>

<h3>
  Zutaten:
  <% unless @receipe.persons.nil? %>
    <small>
      (für <%= @receipe.persons %> Personen)
    </small>
  <% end %>
</h3>

<ul>
  <% @receipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.quantity %>
      <%= ingredient.product.name %>
    </li>
  <% end %>
</ul>


<% unless @receipe.description.empty? %>
  <h3>
    Beschreibung:
  </h3>

  <div class="well">
    <%= simple_format(@receipe.description) %>
  </div>
<% end %>

<% unless @receipe.link.empty? %>
  <p>
    <strong>Link:</strong>
    <%= link_to(@receipe.link, @receipe.link) %>
  </p>
<% end %>



<%= link_to 'Edit', edit_receipe_path(@receipe) %> |
<%= link_to 'Back', receipes_path %>
