<h1><%= @receipe.title %></h1>

<h3>
  Zutaten:
  <% unless @receipe.persons.nil? %>
    <small>
      (für <%= @receipe.persons %> Personen)
    </small>
  <% end %>
</h3>

<ul>
  <% @receipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.quantity %>
      <%= ingredient.product.name %>
    </li>
  <% end %>
</ul>


<h3>
  Beschreibung:
</h3>

<div class="well">
  <%= @receipe.description %>
</div>

<% unless @receipe.link.empty? %>
  <p>
    <strong>Link:</strong>
    <%= link_to(@receipe.link) %>
  </p>
<% end %>



<%= link_to 'Edit', edit_receipe_path(@receipe) %> |
<%= link_to 'Back', receipes_path %>
