<!DOCTYPE html>
<html>
  <head>
    <title>Fudda</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- select 2 -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  </head>

  <body data-no-turbolink>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <%= link_to('Fudda 1.0', root_path, {class: 'navbar-brand'}) %>
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-expanded="false"
          aria-controls="navbarCollapse"
        >
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to('Rezepte', receipes_path) %>
            </li>
            <li>
              <%= link_to('Zutaten', products_path) %>
            </li>
            <li>
              <%= link_to('Mahlzeiten', meals_path) %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= render partial: 'shared/flashmessage', locals: {notice: notice} %>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

  </body>
</html>
